body {
  font-family: Arial, sans-serif;
  background-color: #293241; 
  margin: 0;
  padding: 0;
}
header {
  background-color: #d26308; 
  color: #FFFFFF; 
  padding: 10px;
  text-align: center;
}
h1 {
  font-size: 40px;
  margin: 0;
}
main {
  width: 65%;
  height: 0 auto;
  margin: 20px auto;
  padding: 20px;
  background-color: #F9A602; 
  box-shadow: 10px 10px 5px #f59241;
  font-size: 20px;
}
#intro {
  text-align: left;
}
#intro .intro-text {
  margin-left: 20px;
}

#head {
  text-align: center;
  font-size: 20px
}
#head img {
  display: inline;
  margin: 0 auto;
  width: 450px;
}
#head .intro-container {
  display: flex;
  align-items: center;
}
#qualities {
  text-align: justify;
}
#qualities ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  text-align: justify;

}
#qualities ul li {
  display: inline-block;
  width: 100%;
}
#qualities a{
  color: black; 
  text-decoration: none;
}
footer {
  background-color: #293241; 
  color: #FFFFFF; 
  padding: 10px;
  text-align: center;
}
footer p {
  margin: 0;
}
footer a {
  color: #FFFFFF; /* White */
  text-decoration: none;
}